<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
</head>
<body>
    <h1>Appointments</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <%
                ResultSet appointments = (ResultSet) request.getAttribute("appointments");
                while (appointments.next()) {
            %>
            <tr>
                <td><%= appointments.getString("name") %></td>
                <td><%= appointments.getString("email") %></td>
                <td><%= appointments.getString("date") %></td>
                <td><%= appointments.getString("time") %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>
    <a href="index.jsp">Book Another Appointment</a>
</body>
</html>
